.auth-form {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  margin: 30px auto;
  min-height: 0;
  min-width: 240px;
  max-width: 420px;
  padding: 15px;
}